<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="max-items" class="hidden">5</div>
<div id="discount-value">0</div>
<ul class="handle-list hidden">
    <li class="handle-list__item">sample-product-1</li>
    <li class="handle-list__item">sample-product-2</li>
    <li class="handle-list__item">sample-product-3</li>
    <li class="handle-list__item">sample-product-4</li>
    <li class="handle-list__item">sample-product-5</li>
</ul>
<div id="currency">EUR</div>
<div id="bundle-cart"></div>
<div id="app"></div>
<div class="hidden">
    planted.chicken Natur
    planted.chicken BBQ
    planted.chicken Güggeli
    planted.pulled Natur
    planted.pulled BBQ
</div>
<style>
    #app {
        max-width: 820px;
        margin: 0 auto;
    }
    .hidden {
        display: none;
    }
</style>


</body>
</html>
